@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/login-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.formSection{
    width: 300px;
    background-color:transparent;
    border: 1px solid white;
    color: white;
    border-radius: 40px;
}
.formSection h1{
    font-size: 25px;
    text-align: center;
    padding: 40px 0 0;
}
.formSection .input-box{
    width: 80%;
    height: 30px;
    margin: 30px;
    border-bottom: 1px solid white;
}
.input-box input{
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    color:white;
}
.input-box i{
    font-size:12px ;
}
.formSection .Remember-me{
    display: flex;
    justify-content:space-around;
    font-size: 10.5px;
    margin-bottom: 25px;
}
.Remember-me label input{
    accent-color:white;
    margin-right: 3px;
}
.Remember-me a{
    color: white;
    text-decoration: none;
}
.Remember-me a:hover{
    text-decoration: underline;
}
.formSection .btn{
    width: 80%;
    height: 35px;
    margin-left: 28px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
}
.register-link{
    text-align: center;
    font-size: 10px;
    padding: 20px 10px 30px 20px;

}
.register-link p a {
    color: white;
    text-decoration: none;
}
.register-link p a:hover{
    text-decoration: underline;
}